.cats{
    position: absolute;
    top: 15%;
    left: 15%;
    z-index: 3;
}

.wrapper{
    display: flex;
}

.buba, .salem {
    position: relative;
}

.buba > img, .salem > img{
    width: 5vw;
}

.raboSalem, .raboBuba{
    width: 7vw;
    height: auto;
    position: absolute;
    left: 50%;
    top: 0;
    transform: translateX(-50%) translateY(70%);
}