.art {
  background-color: rgb(2, 3, 98);
  background-image: url('/public/Frame.svg');
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  width: 100vw;
}

.tree {
  width: 50vw;
  height: auto;
}

.content {
  z-index: 10;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  top: 55vh;

}

.text {
  background-color: white;
  width: 70vw;
  padding: 50px 10px 50px 10px;
  border-radius: 1rem;
}
