::-webkit-scrollbar{
  display: none;
}

html{
  background-color: black;
  font-family: 'Times New Roman', Times, serif;
  scrollbar-width: none; /* Esconde a barra no Firefox */
  max-width: 100vw;
  
}

body{
  margin: 0;
  overflow: visible;
  overflow: -moz-scrollbars-none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer e Edge */
  width: 100vw;
}

#root{
  width: 100vw;
  height: auto;
}